@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;500&family=Alegreya:wght@400;500;600&display=swap');


body {
  margin: 0;
  font-family: 'Alegreya Sans', sans-serif;
  background-image: linear-gradient(180deg, #483d8b ,#000000); 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Alegreya', serif;
}

.landscape_title {
  font-style:italic; 
}
.details_subtitle {
  font-style:italic; 
}
.dropShadow {

  border: solid 2px #ffa500;
  -moz-box-shadow: 2px 2px 0px #ffa500;
  -webkit-box-shadow: 2px 2px 0px #ffa500;
      box-shadow: 2px 2px 0px #ffa500;
  
}


/* .story_background {
background-image: url(./public/images/mapHiker.jpg); 
background-size: cover;
background-position: top;
position: relative; 

} */
/* a:hover img.dropShadow {
  border: solid 1px #ffa500;
  -moz-box-shadow: 1px 1px 5px#ffa500;
  -webkit-box-shadow: 1px 1px 5px#ffa500;
      box-shadow: 1px 1px 5px #ffa500;
} */